@import url("font_style/stylesheet.css");


/*-------------------------------*/
.Haednav{
	background-color: #CDCDCD;
}

.Haednav .form{
	padding-top: 20px;
	padding-bottom: 10px;

}

.Haednav #btn{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background:#999999;
	padding-bottom:10px;
	padding-left:30px;
	padding-top:10px;
	padding-right:30px;
	border:#999999 1px solid;
	color:#fff;
	margin-right: 5px;
	font-weight: 500;
}

#btn{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background:#999999;
	padding-bottom:10px;
	padding-left:30px;
	padding-top:10px;
	padding-right:30px;
	border:#999999 1px solid;
	color:#fff;
	margin-right: 5px;
	font-weight: 500;
}


/*-------------------------------*/

.TopHaed{
	background-color: #F5F5F6;
	font-family: montserrat-regular;
}

.TopHaed h2{
	color: #808285;
}

.TopHaed .dropdown{
	padding-top: 10px;
}

.TopHaed .dropdown .glyphicon{
	font-size: 20px;
}

.TopHaed .dropdown .dropdown-toggle{
	background-color: #F5F5F6;
	color: #8B8D90;
}

.TopHaed .dropdown .dropdown-toggle:hover{
	background-color: #F5F5F6;
}

.TopHaed .dropbtn a {
	color: #8B8D90;
}

.TopHaed .dropbtn a:hover {
    color: #8F8F8F;
    text-decoration: none;
}


/*-------------------------------*/

.HeaderNav{
	background-color: #E6E7E9;
	font-family: montserrat-regular;
	text-transform: uppercase;
}


.HeaderNav .TimeDate{
	font-size: 12px;
	color: #373435;
	padding-top: 15px;
	padding-left: 10px;
}



/*-------------------------------*/


.NavBarColor {
	}
.NavBarColor li a {
	color: #373435;
	font-family: montserrat-regular;
	font-weight: normal;
	font-size: 12px;
	text-transform: capitalize;
	}
.NavBarColor li a:visited {
	color: #373435;
}
.NavBarColor ul li a:hover {
	color: #373435;
	background-color:#FFFFFF;
}

/*-------------------------------*/

.SpacingBox {
	height: 40px;
	}

/*-------------------------------*/

.HomeHeading .TabLinks a{
    background-color: #CBCBCB;
	color: #FFFFFF;
	padding: 20px;
	font-family: montserrat-regular;
	text-transform: capitalize;
	float: right;
	margin-bottom: 20px;
}
.HomeHeading .TabLinks a:hover{
    background-color: #CBCBCB;
	color: #FFFFFF;
	text-decoration: none;
}

/*-------------------------------*/

.Table{
	font-family: montserrat-light;
	
}
.Table table{
	padding: 20px;
	
}
.Table .Thead{
	font-family: montserrat-bold;
	background-color: #A2A2A2;
	color: #FFFFFF;
	text-align: center;
	height: 40px;
	font-size: 15px;
	
}
.Table tr td{
	border:#A2A2A2 2px solid;
	padding: 10px;
}
.Table .Tbody{
	color: #000000;
	text-align: justify;
	font-size: 12px;
	
}
.Table a{
	color: #000000;
	text-align: center;
	font-size: 12px;
	
}

.Table #btn{
	background:#999999;
	padding-bottom:5px;
	padding-left:30px;
	padding-top:5px;
	padding-right:30px;
	border:#999999 1px solid;
	color:#fff;
	margin-top: 5px;
	margin-bottom: 5px;
}



/*-------------------------------*/

.AdminHead{
	font-family: montserrat-regular;
}
.AdminHead h1{
	font-size: 30px;
}

.AdminHead .EditBoxes img{
	padding-bottom: 20px;
}

.AdminHead .SideBar{
	background-color: #F2F3F4;
}

.AdminHead .SideBar .ImageUpload{
	background-color: #F2F3F4;
	padding-bottom: 20px;
	padding-top: 20px;
}

.AdminHead .SideBar p{
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 20px;
}
.AdminHead .SideBar .img-preview {
	width: 100px;
	height: 100px;
	float: right;
}
.AdminHead .SideBar .img-preview img {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
} 

.AdminHead  #btn{
	background:#D1D2D4;
	padding-bottom:10px;
	padding-left:30px;
	padding-top:10px;
	padding-right:30px;
	border:#D1D2D4 1px solid;
	color:#383435;
	margin-right: 5px;
	font-size: 12px;
}

.AdminHead .SideBar h3{
	font-family: montserrat-regular;
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 20px;
}
.AdminHead .SideBar .UrlDetails{
	padding-left: 10px;
	padding-right: 30px;
	border: #D1D2D4 1px dotted;
	border-radius: 5px;
}

/*-------------------------------*/


.AdminHead{
	font-family: montserrat-regular;
}

.AdminHead .ChangePassword{
	margin-top: 40px;
	background-color: #E6E7E9;
}

.AdminHead .ChangePassword p{
	font-size: 15px;
	text-transform: uppercase;
	padding-top: 20px;
}

.AdminHead .ChangePassword label{
	font-family: montserrat-light;
	font-size: 12px;
	text-transform: uppercase;
}

/*-------------------------------*/


.LoginPage{
	font-family: montserrat-regular;
	height: 500px;
}

.LoginPage .Login{
	background-color: #F2F3F4;
	border-radius: 20px;
}

.LoginPage .Login h1{
	text-align: center;
}

.LoginPage p {
	font-size: 12px;
	text-align: center;
}


.LoginPage  a{
	color: #000000;
}

.LoginPage  label{
	font-family: montserrat-light;
	font-size: 12px;
	text-transform: uppercase;
}

.LoginPage  input{
	background-color: #FFFFFF;
	border: #808285 1px solid;
	height: 40px;
	border-radius: 0px;
}

.LoginPage #btn{
	color: #000000;
	background-color: #FFFFFF;
	border: #808285 1px solid;
	border-radius: 10px;
	text-transform: uppercase;
	margin-top: 40px;
}


/*-------------------------------*/

.wrapper{
}

.wrapper #btn{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background:#999999;
	padding-bottom:10px;
	padding-left:30px;
	padding-top:10px;
	padding-right:30px;
	border:#999999 1px solid;
	color:#fff;
	margin-right: 5px;
	font-weight: 500;
}

 #menubar {

	background-color: #FFF;
	 padding-top: 30px;
}
#menubar ul {
	list-style-type:none;
	}
	
#menubar li{
	display: inline-block;
	margin-left: 15px;
	background-color: #FFF;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
	border: solid 1px #EEEEEE;
}
#menubar li:hover{
	display: inline-block;
	margin-left: 15px;
	background-color: #EEEEEE;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
	border: solid 1px #CCCCCC;
	color: #000;
}
#menubar li a {
	text-decoration: none;
	color: #000;
	font-weight: 12px;
}
#menubar li a:hover {
	color: #060;
}

/*-------------------------------*/

.Footer{
	background-color: #E6E7E9;
	font-family: montserrat-regular;
	
}


.Footer h1{
	color: #000000;
	font-size: 12px;
	padding-left: 20px;
	padding-bottom: 5px;
}
.Footer h2{
	color: #000000;
	font-size: 12px;
	padding-left: 20px;
	padding-bottom: 5px;
	text-align: right;
	padding-right: 20px;
}
.Footer a{
	color: #000000;
}

.Footer a:hover{
	color: #000000;
}




